.devise.devisePage
  .devisePage__formContainer
    .separatorVertical--20

    h1.devise__title Resend confirmation instructions

    .borderedContainer.borderedContainer--paddingAround20
      = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
        = render "devise/shared/error_messages", resource: resource

        .field
          = f.label :email, class: 'deviseForm__label deviseForm__label--white'
          = f.email_field :email,
            autofocus: true,
            autocomplete: "email",
            value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email),
            class: 'deviseForm__input'

        .deviseForm__fieldSet.devise__buttons
          = f.submit "Resend confirmation instructions", class: 'button is-primary'

    .separatorVertical--20
    .grid
      = render "devise/shared/links"
  .devisePage__pattern
