.devise.devisePage
  .devisePage__formContainer
    .separatorVertical--20

    h1.devise__title Sign up in d.world

    .borderedContainer.borderedContainer--paddingAround20
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = render "devise/shared/error_messages", resource: resource
        .deviseForm__fieldSet
          = f.label :name, class: 'deviseForm__label deviseForm__label--white'
          = f.text_field :name, autofocus: true, autocomplete: "email", class: 'deviseForm__input', required: true

        .deviseForm__fieldSet
          = f.label :email, class: 'deviseForm__label deviseForm__label--white'
          = f.email_field :email, autofocus: true, autocomplete: "email", class: 'deviseForm__input', required: true

        .deviseForm__fieldSet
          = f.label :password, class: 'deviseForm__label deviseForm__label--white'
          = f.password_field :password, autocomplete: "new-password", class: 'deviseForm__input', required: true

        .deviseForm__fieldSet
          = f.label :password_confirmation, class: 'deviseForm__label deviseForm__label--white'
          = f.password_field :password_confirmation, autocomplete: "new-password", class: 'deviseForm__input', required: true

        .devise__buttons
          = link_to "Log in", new_session_path(resource_name), class: 'button'
          button.button.is-primary Submit

    .separatorVertical--20
    .grid
      = render "devise/shared/links"
  .devisePage__pattern
