= form_with model: @form_model, class: 'verticalForm', local: true do |f|

  .customForm__fieldSet
    = f.label :title, class: 'customForm__label'
    = f.text_field :title, class: 'customForm__input', required: true

  .customForm__fieldSet
    = f.fields_for :test_reports do |f|
      = f.hidden_field :source, value: :manual
      div data-module='customFileField'
        = f.label :report_file
        br
        = f.file_field :report_file, data: { module: 'customFileField__fileInput' }

  button.button =t('submit').upcase_first
