.separatorVertical--20

.container
  h1.title = t('demo_projects.title').upcase_first

  .installationInstructions__step
    | Загрузите файл вашего проекта. Создать файл можно указав дополнительный вывод в файл.
     Ниже пример для ruby cucumber
    pre
      | bundle exec cucumber --format json --out report.json --format pretty

  = render 'form'
