.separatorVertical--20

.container
  h1.title = t('demo_projects.title').upcase_first

  .installationInstructions__step
    | Try on a test report from your project. You can generate it using next command
     (example relevant for ruby cucumber):
    pre
      | bundle exec cucumber --format json --out report.json --format pretty

  = render 'form'
