.separatorVertical--20

.container
  h1.title = t('public_projects').upcase_first

  - @public_projects.each do |public_project|
    = link_to public_project_path(public_project), class: 'projectsListItem'
      .projectsListItem__link = public_project.title
