.container--w1120.circlesTestSummary
  .circlesTestSummary__circles
    .circles
      .circles__item.circles__item--green
      .circles__item
      .circles__item.circles__item--orange
      .circles__item
      .circles__item
      .circles__item.circles__item--orange
      .circles__item
      .circles__item.circles__item--green

  .circlesTestSummary__textDesription
    .circlesTestSummary__finished Finished 12 tests  0 failures
    .circlesTestSummary__lastCheck Last check 35 sec ago
