.container--w1120.documentation
  .documentation__sidebar
    .leftMenu
      .leftMenu__header User
      ul.leftMenu__items
        li.leftMenu__item.leftMenu__item--active List
        li.leftMenu__item Authentication
        li.leftMenu__item Editing
        li.leftMenu__item Creation
      .leftMenu__footer.leftMenuFooter
        .leftMenuFooter__paragraph Finished 12 tests 0 failures
        .leftMenuFooter__paragraph Last check 35 sec ago

  .documentation__content
    .featureBlock
      .featureBlockHeader
        .featureBlockHeader__toggleStatusArrow
        .featureBlockHeader__title Menu item selected
        .featureBlockHeader__testResult
      .featureBlockContent
        .featureBlockContent__steps
          .step Then he sees a table with users
          .step Then under the table there is a page switch
          .step Let's say the user clicks on page "2"
          .step Then he does not see users from the previous page

    .featureBlock.collapsed [data-module-collapsed]
      .featureBlockHeader
        .featureBlockHeader__toggleStatusArrow
        .featureBlockHeader__title Menu item selected
        .featureBlockHeader__testResult
      .featureBlockContent
        .featureBlockContent__steps
          .step Then he sees a table with users
          .step Then under the table there is a page switch
          .step Let's say the user clicks on page "2"
          .step Then he does not see users from the previous page
