.devise.devisePage
  .devisePage__formContainer
    .separatorVertical--20

    h1.devise__title Forgot your password?

    .borderedContainer.borderedContainer--paddingAround20
      = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
        = render "devise/shared/error_messages", resource: resource
        .deviseForm__fieldSet
          = f.label :email, class: 'deviseForm__label deviseForm__label--white'
          = f.email_field :email, autofocus: true, autocomplete: "email", class: 'deviseForm__input'

        .devise__buttons
          = f.submit "Send me reset password instructions", class: 'button'

    .separatorVertical--20
    .grid
      = render "devise/shared/links"
  .devisePage__pattern

