= form_with model: @project.users.new,
  url: panel_project_members_path,
  method: :post,
  class: 'horizontalForm newMemberForm',
  local: true do |f|

  .horizontalForm__column.newMemberForm__column
    = f.label :name, class: 'customForm__label'
    = f.text_field :name, class: 'customForm__input', required: true

  .horizontalForm__column.newMemberForm__column
    = f.label :email
    = f.text_field :email, class: 'customForm__input', required: true

  .horizontalForm__column
    button.button.is-primary Submit
