.separatorVertical--20

.container
  h1.title = @project.title
  = render 'panel/projects/menu'

.separatorVertical--20

.container.members
  h2.subtitle Active members

  ol.members__list
    - @members.each do |member|
      li = member.name || member.email

  .separatorVertical--20

  h2.subtitle Add a new member
  = render 'new_member_form'
