.howItWorks
  h2.howItWorks__title How it works

  .howItWorks__container
    .howItWorksBLock.howItWorks__block
      .howItWorksBLock__icon
        = image_pack_tag 'media/images/web.svg', class: "howItWorksBLock__iconImage"
      .howItWorksBLock__text
        .howItWorksBLock__title
          .howItWorksBLock__number 1
          | Writing tests
        .howItWorksBLock__body
          | Someone, for example your developers writes tests
            which describe exactly how your product works.
            (example)

    .howItWorksBLock.howItWorks__block
      .howItWorksBLock__icon
        = image_pack_tag 'media/images/interface.svg', class: "howItWorksBLock__iconImage"
      .howItWorksBLock__text
        .howItWorksBLock__title
          .howItWorksBLock__number 2
          | Launching tests
        .howItWorksBLock__body
          | Using one of CI system, or manualy these tests should be launched.
            But better to launch tests via schedule. Like every hour, or every day.
            Tests will emulate real device, like browser, or mobile phone.

    .howItWorksBLock.howItWorks__block
      .howItWorksBLock__icon
        = image_pack_tag 'media/images/folder.svg', class: "howItWorksBLock__iconImage"
      .howItWorksBLock__text
        .howItWorksBLock__title
          .howItWorksBLock__number 3
          | Generating a report
        .howItWorksBLock__body
          | As the test runs generate test reports we will convert them to documentation.
