.application-mainPage
  .container.application-mainPage__container
    .application-mainPageContent
      .application-mainPageContent__slogan = t('slogan').upcase_first
      div
        span = t('we_will_notify_you')
        = image_pack_tag 'media/images/mail.svg', width: '16px', class: 'application-mainPageContent__mailIcon'
        span = t('if_something_went_wrong')
    = render "how_it_works"
