.separatorVertical--20

.container
  h1.title Manual adding a test report

  = form_with url: reports_path, multipart: true, data: { selector: 'form' } do |f|
    = f.hidden_field 'token', value: @project.token
    = f.file_field 'report'
    = f.submit nil, class: 'button button--white'

