div style=("background: #ffffff; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;")
  pre style=("margin: 0; line-height: 125%")
    span style=("color: #888888") # List of topics
    br
    | Feature: Topics list
    br
    br
    | Background:
    br
    |   Given user opened the main page
    br
    br
    | Scenario: By default there is 30 topics
    br
    |   Then found there first 30 topics
    br
    br
    | Scenario: Pagination works in both ways
    br
    |   And clicked to "More"
    br
    |   Then list of topics starts from 31
    br
    br
    | Scenario: User able to find topic what he interested in
    br
    |   And typed "linux" in the search input
    br
    |   Then first item in the list is "My Business Card Runs Linux"
