.separatorVertical--20

.container
  h1.title = t('about').upcase_first

  p
    | There is few ways to write tests for your project. One of them is BDD.
    strong  BDD (Behavior Driven development) it is
    |  development based on user scenarios or user stories.
    |  A scenario may look like:

  br

  = render 'pages/example_scenario'

  br

  p
    | Example above this is a typical scenario writed in the Cucumber syntax.
    |  Even more BDD expects using this scenarios as for tests, so for development and task describing.
    |  Scenario is artifact which unites business analyst, developer and q&a engineer.

  br

  - link = link_to 'examples of open projects', public_projects_path
  p
    | The task of our project it is transforming scenarios to easy readable documentation ( #{ link } )
