.separatorVertical--20

.container
  h1.title = t('about').upcase_first

  p
   | Существует несколько способов писать тесты для вашего проекта, один из них - BDD.
   strong  BDD (Behavior Driven development )
   |  расшифровывается как разработка на основании сценариев использования.
   |  Сценарий может выглядеть как:

  br

  = render 'pages/example_scenario'

  br

  p
    | Пример выше это типичный сценарий описаный при помощи синтаксиса Cucumber.
    |  Более того, BDD предполагает использование таких сценариев не только для тестирования, но и для
    |  постановки задач. Этот сценарий является артефактом который обьдиняет аналитика, разработчика и тестировщика.

  br

  - link = link_to 'примеры открытых проектов', public_projects_path
  p
    | Задача нашего проекта - превратить эти тесты в удобно читаемую документацию (#{ link })
