p
  | Sorry, for bothering. But few features on your project failed during last test run
   #{ link_to @project_name, @link_to_test_report }

p Please look at them:

ul
  - @failed_examples.each do |feature_name|
    li = feature_name
