nav.bd-navbar.navbar.has-shadow.is-spaced
  .container
    .navbar-menu
      .navbar-start
        = render 'panel_components/logo'

        = link_to t('my_projects').upcase_first, panel_home_path, class: 'navbar-item'
      - if current_user
        .navbar-end
          .navbar-item = current_user.email
          = link_to panel_profile_path, class: 'headerMenuButton' do
            .headerMenuButton__item
            .headerMenuButton__item
            .headerMenuButton__item
          .navbar-item
            = render 'layouts/language_select'

/ .avatar
/   = image_pack_tag 'media/images/avatar.png', width: '24px'
