nav.bd-navbar.navbar.has-shadow.is-spaced
  .container
    .navbar-menu
      .navbar-start
        = render 'panel_components/logo'

        / = link_to t('home').titleize, panel_home_path, class: 'navbar-item'
        = link_to t('public_projects').upcase_first, public_projects_path,
          class: ['navbar-item', 'headerMenu__item', controller_name == 'public_projects' ? 'headerMenu__item--active': nil ]
        = link_to t('demo_projects.title').upcase_first, demo_projects_path,
          class: ['navbar-item', 'headerMenu__item', controller_name == 'demo_projects' ? 'headerMenu__item--active': nil ]
        = link_to t('instructions').upcase_first, page_path(id: 'instructions'),
          class: ['navbar-item', 'headerMenu__item', controller_name == 'pages' && params[:id] == 'instructions' ? 'headerMenu__item--active': nil ]
        = link_to t('about').upcase_first, page_path(id: 'about'),
          class: ['navbar-item', 'headerMenu__item', controller_name == 'pages' && params[:id] == 'about' ? 'headerMenu__item--active': nil ]

      .navbar-end
        .navbar-item
          = link_to panel_projects_path, class:'application-header__panelLink' do
            span = t('Open panel')
            = image_pack_tag 'media/images/play-button.svg', width: '16px', class: 'application-header__goIcon'
        .navbar-item
          = render 'layouts/language_select'
