- if @documentation_facade.ready_to_read
  - cache [@documentation_facade.test_report.test_report_process, params[:filter].to_s || {}, I18n.locale]
    .documentation__sidebar
      .documentationFilter
        - if @documentation_facade.test_report.status&.count > 1
          label = t('status').upcase_first
          = select "filter", "status",
            options_for_select(@documentation_facade.test_report.status, params.dig(:filter, :status)),
            { include_blank: true, multiple: true }

        - if @documentation_facade.test_report.tags.present?
          label = t('tags').upcase_first
          = select "filter", "tags",
            options_for_select(@documentation_facade.test_report.tags.map { |tag| [tag.title, tag.id] }, params.dig(:filter, :tags)),
            { include_blank: true, multiple: true, value: params.dig(:filter, :tags) }

      .leftMenu
        ul.leftMenu__items data-selector='testReport__features'
          - @documentation_facade.features.each do |feature|
            li.leftMenu__item data-feature-id=feature.id
              = feature.name

      .leftMenu__footer.leftMenuFooter
        .leftMenuFooter__paragraph = t('test_report.finished', count: @documentation_facade.finished_scenarios_count, failures_count: @documentation_facade.failures_count).upcase_first
        .leftMenuFooter__paragraph = t('test_report.last_check', last_check_ago: @documentation_facade.last_check_ago).upcase_first

    .documentation__content data-selector='scenariosList'

- else
  div = t('wait_till_report_processing')
