.devise.devisePage
  .devisePage__formContainer
    .separatorVertical--20

    h1.devise__title Log in d.world

    .borderedContainer.borderedContainer--paddingAround20
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        = render "devise/shared/error_messages", resource: resource

        .deviseForm__fieldSet
          = f.label :email, class: 'deviseForm__label deviseForm__label--white'
          = f.email_field :email, autofocus: true, autocomplete: "email", class: 'deviseForm__input', required: true

        .deviseForm__fieldSet
          = f.label :password, class: 'deviseForm__label deviseForm__label--white'
          = f.password_field :password, autocomplete: "current-password", class: 'deviseForm__input'

        = f.hidden_field :remember_me, value: 1

        .deviseForm__fieldSet.devise__buttons
          = link_to "Sign up", new_registration_path(resource_name), class: 'button'
          button.button.is-primary Log in

    .separatorVertical--20
    .grid
      = render "devise/shared/links"
  .devisePage__pattern
