.statusCircle {
  border-radius: 50%;
}

.statusCircle--undefined {
  background: var(--statusCircle--undefined);
}

.statusCircle--passed {
  background-color: var(--statusCircle--passed);
}

.statusCircle--pending {
  background-color: var(--statusCircle--pending);
}

.statusCircle--skipped {
  background-color: var(--statusCircle--skipped);
}

.statusCircle--failed {
  background-color: var(--statusCircle--failed);
}
