.circlesTestSummary {
  display: flex;
  flex-direction: column;

  &__circles {
    margin-top: 67px;
  }

  &__textDesription {
    margin-bottom: 64px;
    display: flex;
  }

  &__finished {
    font-family: 'Mabry Pro', sans-serif;
    font-size: 20px;
    line-height: 128%;
    color: var(--white);
  }

  &__lastCheck {
    font-family: 'Mabry Pro', sans-serif;
    font-size: 20px;
    line-height: 128%;
    color: var(--white);
    margin-left: 64px;
  }
}

.circles {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -16px;

  &__item {
    width: 160px;
    height: 160px;
    background-color: var(--testResultPending);
    border-radius: 50%;
    margin: 0 16px 48px 16px;

    &--orange {
      background-color: var(--orange);
    }

    &--green {
      background-color: var(--green);
    }
  }
}
