@mixin customForm {
  &__fieldSet {
    margin-bottom: 20px;
  }

  &__label {
    font-size: 20px;
    margin-bottom: 10px;
    display: block;
  }

  &__label--white {
    color: var(--white);
  }

  &__input {
    min-height: 40px;
    width: 100%;
    font-size: 35px;
    padding-left: 20px;
    font-family: "Mabry Pro", sans-serif;
    font-weight: 300;
  }

}

.projectsForm {
  @include customForm;
}

.deviseForm {
  @include customForm;

  &__label {
    color: var(--mainColor);
  }
}

.customForm {
  @include customForm;
}
