.customCheckbox {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;

  &__checkboxIcon {
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid var(--input-field-border-color);
    content: '';
    margin-right: 10px;
  }

  &__input {
    position: absolute;
    visibility: hidden;
  }

  &__description {
    pointer-events: none;
  }

  &__input:checked ~ &__checkboxIcon {
    background-image: url('~images/iconmonstr-checkbox-4.svg');
    background-size: cover;
  }
}
