.featureBlockStep {
  padding: 13px 16px 16px 16px;
  font-family: 'Mabry Pro', sans-serif;
  font-size: 20px;
  line-height: 160%;
  color: var(--mainColor);
  background-color: rgba(6, 6, 61, 0.05);
  border-radius: 16px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.featureBlockStep__status {
  margin-left: auto;
}

.featureBlockStep__statusCircle {
  width: 25px;
  height: 25px;
}
