%featureBLock {
  padding: 16px;
  border-radius: 4px;
  background-color: var(--arrowBackground);
  margin-bottom: 8px;
  transition: height 0.5s ease-in-out;
}

.featureBlock {
  @extend %featureBLock;
}

.featureBlock.collapsed {
  cursor: pointer;
  background-color: rgba(229, 229, 229, 0.79);
  overflow: hidden;

  .featureBlockContent {
    opacity: 0;
    height: 0;
  }

  .featureBlockHeader {
    margin-bottom: 0;
  }
}
