.featureBlockHeader {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  padding-right: 16px;

  &__toggleStatusArrow {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 5px solid var(--mainColor);
    transform: rotateZ(0deg);
    transition: .3s all;
  }

  &__title {
    color: var(--mainColor);
    font-family: 'Mabry Pro', sans-serif;
    font-size: 24px;
    line-height: 128%;
    margin-left: 12px;
  }

  &__status {
    display: flex;
    margin-left: auto;
  }

  &__statusCircle {
    width: 24px;
    height: 24px;
    display: flex;
    margin-left: 8px;
  }
}

.collapsed .featureBlockHeader .featureBlockHeader__toggleStatusArrow {
  transform: rotateZ(-90deg);
}
