.flashMessage {
  background: var(--white);
  padding: 10px 0px;
}

.flashMessage__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 0 20px;
}

.flashMessage--notice {
  color: var(--orange);
}
