@font-face {
  font-family: 'Mabry Pro';
  src:
    url('../fonts/marby_woff/MabryPro-Black.woff2') format('woff2'),
    url('../fonts/marby_woff/MabryPro-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Mabry Pro';
  src:
    url('../fonts/marby_woff/MabryPro-Light.woff2') format('woff2'),
    url('../fonts/marby_woff/MabryPro-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Mabry Pro';
  src:
    url('../fonts/marby_woff/MabryPro-Medium.woff2') format('woff2'),
    url('../fonts/marby_woff/MabryPro-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Mabry Pro';
  src:
    url('../fonts/marby_woff/MabryPro-BlackItalic.woff2') format('woff2'),
    url('../fonts/marby_woff/MabryPro-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Mabry Pro';
  src:
    url('../fonts/marby_woff/MabryPro-BoldItalic.woff2') format('woff2'),
    url('../fonts/marby_woff/MabryPro-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Mabry Pro';
  src:
    url('../fonts/marby_woff/MabryPro-Italic.woff2') format('woff2'),
    url('../fonts/marby_woff/MabryPro-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Mabry Pro';
  src:
    url('../fonts/marby_woff/MabryPro-LightItalic.woff2') format('woff2'),
    url('../fonts/marby_woff/MabryPro-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Mabry Pro';
  src:
    url('../fonts/marby_woff/MabryPro-Bold.woff2') format('woff2'),
    url('../fonts/marby_woff/MabryPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Mabry Pro';
  src:
    url('../fonts/marby_woff/MabryPro-MediumItalic.woff2') format('woff2'),
    url('../fonts/marby_woff/MabryPro-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Mabry Pro';
  src:
    url('../fonts/marby_woff/MabryPro-Regular.woff2') format('woff2'),
    url('../fonts/marby_woff/MabryPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTRootUIWebRegular';
  src: url('../fonts/PT_Root_UI_Regular/PT_Root_UI_Regular.eot');
  src:
    url('../fonts/PT_Root_UI_Regular/PT_Root_UI_Regular.eot#iefix') format('embedded-opentype'),
    url('../fonts/PT_Root_UI_Regular/PT_Root_UI_Regular.woff2') format('woff2'),
    url('../fonts/PT_Root_UI_Regular/PT_Root_UI_Regular.woff') format('woff'),
    url('../fonts/PT_Root_UI_Regular/PT_Root_UI_Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTRootUIWebLight';
  src: url('../fonts/PT_Root_UI_Light/PT_Root_UI_Light.eot');
  src:
    url('../fonts/PT_Root_UI_Light/PT_Root_UI_Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PT_Root_UI_Light/PT_Root_UI_Light.woff2') format('woff2'),
    url('../fonts/PT_Root_UI_Light/PT_Root_UI_Light.woff') format('woff'),
    url('../fonts/PT_Root_UI_Light/PT_Root_UI_Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTRootUIWebMedium';
  src: url('../fonts/PT_Root_UI_Medium/PT_Root_UI_Medium.eot');
  src:
    url('../fonts/PT_Root_UI_Medium/PT_Root_UI_Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PT_Root_UI_Medium/PT_Root_UI_Medium.woff2') format('woff2'),
    url('../fonts/PT_Root_UI_Medium/PT_Root_UI_Medium.woff') format('woff'),
    url('../fonts/PT_Root_UI_Medium/PT_Root_UI_Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTRootUIWebBold';
  src: url('../fonts/PT_Root_UI_Bold/PT_Root_UI_Bold.eot');
  src:
    url('../fonts/PT_Root_UI_Bold/PT_Root_UI_Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PT_Root_UI_Bold/PT_Root_UI_Bold.woff2') format('woff2'),
    url('../fonts/PT_Root_UI_Bold/PT_Root_UI_Bold.woff') format('woff'),
    url('../fonts/PT_Root_UI_Bold/PT_Root_UI_Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
