.headerMenuButton {
  display: flex;
  cursor: pointer;
  height: 100%;
  justify-content: center;
  align-items: center;

  &__item {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    margin-left: 8px;
    background-color: var(--mainColor);
  }
}

.headerMenuButton:hover .headerMenuButton__item {
  background-color: var(--arrowBackground);
}
