.howItWorks {
  padding-left: 90px;
  padding-top: 40px;

  &__title {
    color: var(--white);
    font-size: 20px;
  }

  &__container {
    display: flex;
    margin: 0 -20px;
    justify-content: space-between;
  }

  &__block {
    max-width: 350px;
    padding: 20px;
  }
}

.howItWorksBLock {
  display: flex;
}

.howItWorksBLock__text {
  display: flex;
  flex-direction: column;
}

.howItWorksBLock__title {
  display: flex;
  font-size: 16px;
  color: var(--white);
}

.howItWorksBLock__number {
  margin-right: 8px;
}

.howItWorksBLock__body {
  font-family: "PTRootUIWebLight", sans-serif;
  color: var(--white);
}

.howItWorksBLock__icon {
  margin-right: 20px;
}

.howItWorksBLock__iconImage {
  width: 80px;
  max-width: 80px;
}

.howItWorksBLock__iconImage path {
  color: var(--white);
}
