.installationInstructions {}

.installationInstructions__step {
  margin-bottom: 20px;
  padding-left: 20px;
  border-left: 1px solid var(--orange);
}

.installationInstructions__step pre {
  margin-top: 8px;
  word-break: break-all;
  white-space: break-spaces;
}
