.leftMenu {
  background-color: var(--testResultPending);
  padding: 20px 10px;
  max-width: 300px;
  border-radius: 4px;

  &__header {
    font-family: 'Mabry Pro', sans-serif;
    font-size: 18px;
    line-height: 128%;
    margin-bottom: 20px;
  }

  &__items {
    margin-left: 20px;
    list-style: none;
    list-style-position: inside;
    padding-left: 0;
  }

  &__item {
    margin-bottom: 12px;
    font-size: 20px;
    opacity: 0.4;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }

    &--active {
      opacity: 1;
    }
  }

  &__footer {
    padding: 20px;
    max-width: 300px;
  }

  &__circles {
    display: flex;
  }

  &__circle {
    margin-right: 4px;
    width: .7em;
    height: .7em;
    display: inline-block;
  }
}
