.logo {
  width: 40px;
  margin-right: 40px;
}

.logo__line {
  display: flex;
  margin-bottom: 8px;
  justify-content: space-between;
}

.logo__line--centered {
  justify-content: center;
}

.logo__circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--mainColor);
}
