:root {
  --max-width: 1068px;
  --orange-background: #ff825a;
}

.application-mainPage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--mainColor);
  padding: 1rem 2rem;
  margin: auto;
}

.application-mainPage__container {
  width: 100% !important;
}

.application-header {}

.application-header__panelLink {
  color: var(--white) !important;
  font-size: 20px;
  text-decoration: none;
  background: var(--orange-background);
  display: inline-block;
  padding: 5px 30px 5px 10px;
  border-radius: 4px;
  position: relative;
  font-family: 'PTRootUIWebLight';
}

.application-header__goIcon {
  height: auto;
  position: absolute;
  top: calc(50% - 8px);
  right: 10px;
}

.application-mainPageContent {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  padding-left: 90px;
}

.application-mainPageContent__mailIcon {
  vertical-align: middle;
  margin: 5px;
}

.application-mainPageContent__slogan {
  color: var(--white);
  font-size: 60px;
}
