.menu {
  &__item {
    margin-right: 40px;
    text-decoration: none;
    color: var(--white);
    opacity: 0.4;

    &--active {
      opacity: 1;
    }
  }
}


.headerMenu{}

.headerMenu__item--active {
  background: var(--active-menuItem);
}

.headerMenu__item:hover {
  color: var(--mainColor) !important;}
