.projectsListItem {
  padding: 10px 20px;
  border: 1px solid var(--mainColor);
  border-radius: 4px;
  cursor: pointer;
  transition: .3s all ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover {
    background-color: var(--arrowBackground);
    border: 1px solid var(--arrowBackground);
  }

  &__link {
    color: var(--mainColor);
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
  }

  &:not(:first-of-type) {
    margin-top: 24px;
  }

  &__circle {
    width: 1em;
    height: 1em;
    margin-left: 8px;
  }

  &__circles {
    display: flex;
  }
}
