/* Variables */
body,
html {
  min-height: 100vh;
  color: var(--white);
  margin: 0;
}

:root {
  --input-field-border-color: rgb(238, 238, 238);
  --mainColor: #060642;
  --white: white;
  --testResultPending: #fdf9f3;
  --arrowBackground: #e5e5e5;
  --orange: #ff825a;
  --green: #7ae22c;
  --tagBackgroundColor: #eeeded;
  --active-menuItem: #fafafa;

  // Статусы репортов, возможные варианты можно найти в app/models/concerns/available_statuses
  --statusCircle--undefined: transparent;
  --statusCircle--passed: var(--green);
  --statusCircle--pending: #686868;
  --statusCircle--skipped: #909090;
  --statusCircle--failed: #ff3648;
}
