= form_with model: [:panel, @project], local: true do |f|
  .deviseForm__fieldSet
    / = @project.errors[:title]
    = f.label :title, class: 'deviseForm__label'
    = f.text_field :title, class: 'deviseForm__input'

  .deviseForm__fieldSet
    = f.label :description, class: 'deviseForm__label'
    = f.text_field :description, class: 'deviseForm__input'

  .deviseForm__fieldSet
    = f.label 'user_project_settings[notify_on_failures]', class: 'customCheckbox' do
      = f.check_box 'user_project_settings[notify_on_failures]',
        class: 'customCheckbox__input',
        checked: @user_project_settings&.find_by(name: 'notify_on_failures').present?
      .customCheckbox__checkboxIcon
      .customCheckbox__description =t('user.settings.notify_on_failures').upcase_first

  .deviseForm__fieldSet
    = f.label :public, class: 'customCheckbox' do
      = f.check_box :public, class: 'customCheckbox__input'
      .customCheckbox__checkboxIcon
      .customCheckbox__description =t('activerecord.attributes.project.public')

  .deviseForm__fieldSet
    = f.submit nil, class: 'button button--white deviseForm__submitButton'
