.installationInstructions
  h2.subtitle Typical steps for integration our system into your CI (Gitlab for example) system:

  .installationInstructions__step
    | Run tests using format with json report
    pre
      | cucumber:
      br
      |   stage: test
      br
      |   script:
      br
      |    - bundle exec cucumber --format json --out report.json --format pretty
      br
      |      artifacts:
      br
      |        paths:
      br
      |          - ./report.json
      br
      |        when: always

  .installationInstructions__step
    | Add gem which sends report to our service
    pre
      | gem 'documentation_world', git: 'https://gitlab.com/Rukomoynikov/documentation_world_gem.git'

  .installationInstructions__step
    | Send report to the selected project (example with )
    pre
      | documentation:
      br
      |    stage: documentation
      br
      |    script:
      br
      |      - bundle exec documentation_world send --token=#{ @project&.token || 'token' } --report './report.json'
      br
      |    when: master
