.installationInstructions
  h2.subtitle Установка в вашу CI систему на примере Gitlab CI

  .installationInstructions__step
    | При прогоне тестов используйте допольнительный формат "json", ниже использовано сразу два формата обычный чтобы вы могли видеть результат как обычно, и генерация файла с отчетом:
    pre
      | cucumber:
      br
      |   stage: test
      br
      |   script:
      br
      |    - bundle exec cucumber --format json --out report.json --format pretty
      br
      |      artifacts:
      br
      |        paths:
      br
      |          - ./report.json
      br
      |        when: always

  .installationInstructions__step
    | Для того чтобы отправить файл нам можно использовать заготовленный нами gem, добавьте его в Gemfile:
    pre
      | gem 'documentation_world', git: 'https://gitlab.com/Rukomoynikov/documentation_world_gem.git'

  .installationInstructions__step
    | Отдельным шагом, например только для master ветки отправьте репорт нам. Используйте токен который можно найти в настройках проекта
    pre
      | documentation:
      br
      |    stage: documentation
      br
      |    script:
      br
      |      - bundle exec documentation_world send --token=#{ @project&.token || 'token' } --report './report.json'
      br
      |    when: master
