.tabs.is-centered.is-boxed
  ul
    li class=[('is-active' if action_name == 'show')]
      = link_to panel_project_path(@project)
        span = t('live_documentation').upcase_first
    li class=[('is-active' if action_name == 'history')]
      = link_to panel_project_history_path(@project)
        span = t('history').upcase_first
    li class=[('is-active' if action_name == 'settings')]
      = link_to panel_project_settings_path(@project)
        span = t('settings').upcase_first
    li class=[('is-active' if action_name == 'index' && controller_name == 'members' )]
      = link_to panel_project_members_path(@project)
        span = t('team').upcase_first

.separatorVertical--20
