- cache [feature, params[:status], params[:tags]]
  h1.title = feature.name
  .separatorVertical--8
  p = feature.description

  .separatorVertical--20
  - scenarios.each do |scenario|
    .featureBlock.collapsed [data-module-collapsed]
      .featureBlockHeader
        .featureBlockHeader__toggleStatusArrow
        .featureBlockHeader__title = scenario.name
        .featureBlockHeader__status
          - scenario.status.each do |status|
            .featureBlockHeader__statusCircle class="statusCircle statusCircle--#{ status }"
      .featureBlockContent
        - if scenario.tags.present?
          .featureBlockTags
            - scenario.tags.each do |tag|
              .featureBlockTags__tag = tag.title
        - if scenario.description.present?
          p.featureDescription = scenario.description
        .featureBlockContent__steps
          - scenario.steps.each do |step|
            .featureBlockStep
              .featureBlockStep__title #{ step.keyword } #{ step.name }
              .featureBlockStep__status
                - step.status.each do |status|
                  .featureBlockStep__statusCircle class="statusCircle statusCircle--#{ status }"
