.separatorVertical--20

.container
  h1.title = @project.title
  = render 'panel/projects/menu'

.separatorVertical--20

.container
  - @test_reports.each do |tr|
    = link_to panel_project_test_report_path(project_id: @project.id, id: tr),
      class: 'historyBlock' do
      .historyBlock__title Test report (#{ tr.features.with_status(:failed).count } failrues)
      span #{ time_ago_in_words(tr.created_at) } ago (#{ l(tr.created_at, format: :short) })
