.separatorVertical--20

.container.projects
  .projects__left
    h1.title = t('my_projects').upcase_first
  .projects__right
    = link_to t('add_project').upcase_first, new_panel_project_path, class: 'button button--white'

.separatorVertical--20

.container
  - @projects.each do |project|
    = link_to panel_project_path(project), class: 'projectsListItem'
      .projectsListItem__link = project.title
      - if project.test_reports.last.present?
        .projectsListItem__circles
          - project.test_reports.last.status.each do |status|
            div class="projectsListItem__circle statusCircle statusCircle--#{status}"
