.separatorVertical--20

.container
  h1.title = @project.title
  = render 'panel/projects/menu'

.separatorVertical--20

.container
  h2.subtitle = t('project_settings').upcase_first

  .field
    label.label = t('token_long').upcase_first
    .control
      textarea.textarea(readonly) = @project.token
  hr


  = render 'panel/projects/form'
