.separatorVertical--20

.container
  .level
    .level-left
      h1.title = @project.title
    .level-right
      = link_to t('add_test_report').upcase_first, new_panel_project_test_report_path(@project), class: 'button'
  = render 'panel/projects/menu'

.container.documentation
  - if !@documentation_facade.test_report.present?
    = render 'panel/projects/installation_instructions'
  - else
    = render 'panel_components/report'
