= form_with url: select_locale_path(lang: nil),
  method: :post,
  class: 'select',
  local: true do
  = select_tag "lang", options_for_select(['ru', 'en'], I18n.locale), onchange: 'this.form.submit()'
