doctype html
html
  head
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_pack_tag 'panel'
    = javascript_pack_tag 'panel'
    = render 'layouts/meta'
  body data-controller=uniq_css_class
    = render 'panel_components/public_projects_header'
    = yield
    .separatorVertical--20
